<section
  class="bg-cover bg-center h-[400px] xl:h-[500px] mx-6 lg:mx-16 xl:mx-20 my-16 xl:my-24 rounded-2xl flex items-center"
  [style.backgroundImage]="'url(' + image + ')'"
>
  <div
    class="max-w-2xl mx-auto items-center text-center space-y-4 xl:space-y-8 p-6 text-white"
  >
    <h1 class="text-[30px] sm:text-[38px] xl:text-[45px] font-inter font-bold">{{ title }}</h1>
    <p class="text-base xl:text-[18px] font-normal font-inter leading-[34px]">{{ content }}</p>
    <button
      class="text-white text-[12px] sm:text-[14px] xl:text-base font-inter font-semibold bg-fcPrimary px-6 py-4 rounded-full hover:text-white"
    >
      CONTACT US
    </button>
  </div>
</section>
