<section class="p-6 lg:p-16 xl:p-24 relative">
  <div class="w-full">
    <div
      class="grid lg:grid-cols-2 grid-cols-1 md:gap-[6%] lg:max-h-screen text-center lg:text-start"
    >
      <div
        class="sm:w-full w-full items-center lg:ml-0 flex pt-4 lg:pt-0 order-last lg:order-last"
        data-aos="fade-up-right"
      >
        <img
          src="../../../assets/images/about-us2.png"
          class="w-full lg:w-[700px] xl:w-full lg:h-full xl:h-[420px]"
        />
      </div>
      <div
        class="space-y-4 xl:space-y-6 items-start !w-full text-start"
        data-aos="fade-up-left"
      >
        <p class="text-[18px] font-inter font-semibold text-fcPrimary">
          OUR COMPANY
        </p>
        <p
          class="font-cera-pro font-bold text-black text-[28px] xl:text-[38px]"
        >
          Empowering Growth, Inspiring Change
        </p>
        <p
          class="font-inter font-normal text-fcBlack3 text-[14px] sm:text-base xl:text-[18px] leading-[32px] lg:leading-[38px]"
        >
          The company incorporated in 2016 is wholly a Nigerian company. Our
          goal has been to be the best in the best company of choice for our
          staff and clients in various fields through hard work, dynamism,
          prudence TargetAfrica Integrated Services Ltd and value-added customer
          relation services. TargetAfrica Integrated Services Limited give our
          clients access to professionals with extensive experience in their
          chosen fields.
        </p>
      </div>
    </div>
  </div>
</section>
