<section class="p-6 lg:p-16 xl:p-24 relative">
  <div class="w-full">
    <div
      class="grid lg:grid-cols-2 grid-cols-1 md:gap-[6%] lg:max-h-screen text-center lg:text-start"
    >
      <div
        class="sm:w-full w-full  items-center lg:ml-0 flex pt-4 lg:pt-0 order-last lg:order-last"
      >
        <img
          src="../../../assets/images/about-us2.png"
          class="w-full lg:w-[700px] lg:h-[450px] xl:h-[500px]"
        />
      </div>
      <div class="space-y-4 xl:space-y-6 items-start !w-full text-start">
        <p class="text-[18px] font-inter font-semibold text-fcPrimary">
          OUR COMPANY
        </p>
        <p
          class="font-cera-pro font-bold text-black text-[28px] xl:text-[38px]"
        >
          Empowering Growth, Inspiring
          Change
        </p>
        <p
          class="font-inter font-normal text-base xl:text-[18px] leading-[35px] xl:leading-[45px]"
        >
          TargetAfrica Integrated Services Limited is a consulting company with
          verse experience in project management, consulting and training
          services. We are available to assist you with planning, design,
          deployment, and support of wide-ranging cabling and construction
          services. We are committed to bringing our customers world-class
          project management in information and communication technology,
          electrical and constructions.
        </p>
      </div>
    </div>
  </div>
</section>
