<section
  class="grid lg:grid-cols-2 grid-cols-1 md:gap-[6%] lg:max-h-screen text-start p-6 lg:p-16 lg:pb-18 xl:pb:0 xl:p-20"
>
  <div class="!order-last lg:order-first">
    <img
      src="../../../assets/images/Group 1000002083.png"
      alt=""
      class="sm:w-full w-full items-center lg:ml-0 flex md:h-[600px] xl:h-[700px]"
    />
  </div>
  <div
    class="space-y-4  xl:space-y-8 py-10 md:py-0 items-start !w-full text-start"
  >
    <p class="text-[18px] font-inter font-semibold text-fcPrimary">
      OUR SERVICES
    </p>
    <p class="font-cera-pro font-bold text-black text-[28px] xl:text-[38px]">
      Your Vision, Our Expertise
    </p>
    <p
      class="font-inter font-normal text-base xl:text-[18px] leading-[35px] xl:leading-[45px]"
    >
      Our core vision is to provide you with services that helps elevates your
      business and products expectations pushing your brand to greater heights
    </p>
    <div class="space-y-4 lg:space-y-8 sm:space-y-6 xl:space-y-8">
      <div class="flex space-x-8 items-center">
        <div>
          <img
            src="../../../assets//images/software.png"
            class="w-[200px] sm:w-full"
          />
        </div>
        <div class="space-y-2">
          <p
            class="font-bold text-base sm:text-[22px] font-cera-pro text-fcBlack2"
          >
            Software Development
          </p>
          <p class="sm:text-base font-inter font-normal leading-[28px]">
            We are constantly driven by the ever growing need to push technology
            to serve the people and make it even more user friendly along the
            line.
          </p>
        </div>
      </div>
      <div class="flex space-x-8 items-center">
        <div>
          <img
            src="../../../assets//images/mobile.png"
            class="w-[200px] sm:w-full"
          />
        </div>
        <div>
          <p
            class="font-bold text-base sm:text-[22px] font-cera-pro text-fcBlack2"
          >
            Mobile App Development
          </p>
          <p class="text-base font-inter font-normal leading-[28px]">
            We are constantly driven by the ever growing need to push technology
            to serve the people and make it even more user friendly along the
            line.
          </p>
        </div>
      </div>
      <div class="flex space-x-8 items-center">
        <div>
          <img
            src="../../../assets//images/web.png"
            class="w-[200px] sm:w-full"
          />
        </div>
        <div>
          <p
            class="font-bold text-base sm:text-[22px] font-cera-pro text-fcBlack2"
          >
            Website Development
          </p>
          <p class="text-base font-inter font-normal leading-[28px]">
            We are constantly driven by the ever growing need to push technology
            to serve the people and make it even more user friendly along the
            line.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
