<section class="p-6 lg:p-16 xl:p-24 relative" id="#about">
  <div class="w-full">
    <div
      class="grid lg:grid-cols-2 grid-cols-1 lg:gap-[6%] lg:max-h-screen text-center lg:text-start"
    >
      <div
        class="sm:w-full !w-full items-center pt-4 lg:pt-0 lg:pt-0 flex justify-center lg:ml-0 flex order-last lg:order-first"
      >
        <img
          src="../../../assets/images/about-us1.png"
          class="lg:h-full xl:h-[550px] xl:w-full"
        />
      </div>
      <div class="space-y-4 xl:space-y-6 items-start !w-full text-start">
        <p class="text-[18px] font-inter font-semibold text-fcPrimary">
          ABOUT US
        </p>
        <p
          class="font-cera-pro font-bold text-black text-[28px] xl:text-[38px]"
        >
          Elevating Businesses, One Solution at a Time
        </p>
        <p
          class="font-inter font-normal text-fcBlack3 text-[14px] sm:text-base xl:text-[18px] leading-[32px] lg:leading-[38px]"
        >
          TargetAfrica Integrated Services Limited is a consulting company with
          verse experience in project management, consulting and training
          services. We are available to assist you with planning, design,
          deployment, and support of wide-ranging cabling and construction
          services. We are committed to bringing our customers world-class
          project management in information and communication technology,
          electrical and constructions.
        </p>
        <button
          class="text-white relative text-[14px] font-inter font-normal bg-fcPrimary px-6 py-4 hover:text-white"
        >
          Explore Now
        </button>
        <div class="hidden md:block">
          <img
            src="../../../assets//images/23.png"
            alt="23"
            class="absolute right-0"
          />
        </div>
      </div>
    </div>
  </div>
</section>
